.image-card-carousel {
    max-width: 730px; /* Width remains 1130px */
    height: 300px; /* Decreased height */
    margin: 0 auto; /* Center the carousel */
    margin-top: 50px; /* Top margin */
    margin-bottom: 220px; /* Bottom margin */
}

.carousel-item img {
    width: 100%; /* Set image width to fill the container */
    height: 100%; /* Ensure the image takes up the full height of the carousel */
    object-fit: cover; /* Cover the entire card without distortion */
}

@media (max-width: 768px) {
    .image-card-carousel {
        max-width: 90%; /* Adjust width for smaller screens */
        height: 250px; /* Further reduced height for smaller screens */
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .carousel-item img {
        height: 100%; /* Ensure image fills available height */
    }
}

@media (max-width: 480px) {
    .image-card-carousel {
        max-width: 100%; /* Full width on very small screens */
        height: 200px; /* Adjust height for very small screens */
    }
}
.gallery{
    margin-top: 20px;
    color: #39393b;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    text-transform: normal;
    text-align: center;
}


